html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl dt, dd, p, blockquote, pre, form, fieldset, table, th, td { 
	margin: 0;
	padding: 0;
}

li {
	margin:0;
	padding: 2px;
}

body {
	background-attachment: fixed !important;
	background-color: #2b2b2b;
	background: -moz-radial-gradient(center, ellipse cover, rgba(85,90,95,1) 0%, rgba(28,30,32,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(85,90,95,1)), color-stop(100%,rgba(28,30,32,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(85,90,95,1) 0%,rgba(28,30,32,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(85,90,95,1) 0%,rgba(28,30,32,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(85,90,95,1) 0%,rgba(28,30,32,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(85,90,95,1) 0%,rgba(28,30,32,1) 100%);
	font: 1em arial,sans-serif;
    height: 100%; 
    width: 100%;
}

table {
	width: 100%;
	font: 15px arial, sans-serif;
}

th {
	text-align: left;
}

td {
	vertical-align: top;
}

a, a:visited {
	font-weight: bold;
	color: #6ec1F8;
	background: inherit;
	text-decoration: none;
}

a:hover {
	background: inherit;
	text-decoration:underline;
}

p {
	padding: 4px 0px 16px;
	margin:0;
	font-size:12pt;
}

h1 {
	margin:0px 0px 8px;
	font-size: 22pt;
	padding: 10px 0 5px 0;
}

h2 {
	color: black;
	padding: 16px 0px 2px;
	margin-bottom: 20px;
	font-size: 14pt;
	text-transform: uppercase;
	border-bottom: 2px solid #ccc;
}

h3 {
	float: left;
	text-align: center;
	color: black;
}

h1, h2, h3 {
	font-weight: bold;
}

img {
	border: none;
}

.item {
	padding: 10px;
	color: #797979;
}

.item:hover {
	background-color: #eeeeee;
}

.header {
	padding: 10px;
	color: black;
	margin: 2px;
	min-height: 128px;
	width: 30%;
	background-color: #e5e5e5;
	background: -moz-linear-gradient(top, #e5e5e5 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top, #e5e5e5 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top, #e5e5e5 0%,#e5e5e5 100%);
	background: linear-gradient(top, #e5e5e5 0%,#e5e5e5 100%);
}

.header:hover {
	cursor: pointer;
	background-color: #c6c6c6;
	background: -moz-linear-gradient(top, #c6c6c6 0%, #c6c6c6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#e6e6e6));
	background: -webkit-linear-gradient(top, #c6c6c6 0%,#c6c6c6 100%);
	background: -o-linear-gradient(top, #c6c6c6 0%,#c6c6c6 100%);
	background: -ms-linear-gradient(top, #c6c6c6 0%,#c6c6c6 100%);
	background: linear-gradient(top, #c6c6c6 0%,#c6c6c6 100%);
}

.photo {
	border:1px solid #d8dedd;
	padding:4px;
	float: right;
}

.content {
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width:60%;
	padding: 2%;
}

#foot-wrap {
	padding:10px 30px 30px;
	color:#aaa;
}

#foot-wrap a, #foot-wrap a:visited {
	color: #888
}

#foot {
	text-align: center;
	width: 50%;
	margin: auto;
}

.left {
	float: left;
}

.right {
	width: auto;
	text-align: right;
	margin-right: 5%;
}

.first {
	width: 15%;
}

.second {
	width: 70%;
}

#en {
	display: block;
}

#de {
	display: none;
}

#ee {
	display: none;
}